<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>238124632726-1qd4panmud9hb0eormuh4f03e6p4uepi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238124632726-1qd4panmud9hb0eormuh4f03e6p4uepi</string>
	<key>API_KEY</key>
	<string>AIzaSyAwLlvuBayg0Z0rLZTQ_NJPDwKaU_7vuag</string>
	<key>GCM_SENDER_ID</key>
	<string>238124632726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erikthegod.Entrenamiento</string>
	<key>PROJECT_ID</key>
	<string>gimnasio-c3db8</string>
	<key>STORAGE_BUCKET</key>
	<string>gimnasio-c3db8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238124632726:ios:713536cdf62156af</string>
	<key>DATABASE_URL</key>
	<string>https://gimnasio-c3db8.firebaseio.com</string>
</dict>
</plist>